.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: 500px;
  height: 500px;
  border: 1px solid;
  position: relative;
  overflow: hidden;
}

.action-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
